
<% content_for :page_header do %>
  <div class="blog-header">
    <h1 class="blog-title">Melody's Tech Blog</h1>
    <p class="lead blog-description">纪录点滴进步</p>
  </div>
<% end %>

<div class="col-sm-8 blog-main">

  <% if current_user %>
    <%= link_to "添加日记", new_article_path, class: "btn btn-primary btn-sm" %>
  <% end %>

  <% @articles.each do |article| %>

    <div class="blog-post">

      <h2 class="blog-post-title"><%= article.title %></h2>
      <p class="blog-post-meta"><%= article.created_at.strftime("%B %d, %Y") %></p>

      <p><%= article.text %></p>


      <span class="small"><%= link_to '阅读全文', article_path(article) %></span>
      <!-- <%= link_to 'Edit', edit_article_path(article) %> -->
      <!-- <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

    </div><!-- /.blog-post -->

  <% end %>

  <nav>
    <ul class="pager">
      <!-- <li><a href="#">上页</a></li> -->
      <!-- <li><a href="#">下页</a></li> -->
    </ul>
  </nav>

</div><!-- /.blog-main -->
