<% content_for :page_header do %>
  <div class="blog-header">
    <h2><%= @article.title %></h2>
    <%= link_to '返回列表', articles_path %>
    <% if current_user %>
      <%= link_to '修改', edit_article_path(@article) %>
    <% end %>
  </div>
<% end %>

<div class="col-sm-8 blog-main">
  <p><%= @article.text %></p>

  <div class="page-header">
    <h3>访客留言</h3>
  </div>
  <%= render @article.comments %>

  <div class="page-header">
    <h3>添加评论</h3>
  </div>
  <%= render "comments/form" %>
</div>
